#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.app-container {
  max-width: 500px;
  padding: 20px;
}

.app-container h1 {
  text-align: center;
  margin-bottom: 35px;
}

.user-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.user-section label {
  margin-bottom: 6px;
  font-weight: 500;
}

.user-section input {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.user-section input:focus {
  outline: none;
  border-color: #4f46e5;
}

